ipykernel
redis
redisvl
tiktoken
langgraph
langchain
langchain-community
langchain-openai
langchain-experimental
langfuse 
pypdf
python-dotenv
openai
yt_dlp #youtube download
pydub #split audio from video
librosa # audio analysis
neo4j
numpy
tavily-python
langfuse 
pandas 
matplotlib
duckduckgo_search
bs4
html2text